<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN -->
	<head>
		<title>Eat-da-burger</title>
		<meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
    <!-- START BODY -->
	<body>
		{{{ body }}}
	<script src="/assets/js/script.js"></script>
	</body>
    <!-- END BODY -->
</html>
